:root {
  --bs-font-sans-serif: "Roboto", sans-serif;
}

:root[data-bs-theme="light"] {
  --bs-body-bg: #ffffff;
  --bs-body-color: #262626;
  --bs-content-bg:  #f1f1f1;
  --bs-link-color: #707070;
  --bs-active-link-bg:#EDEDED ;
  --bs-active-link-color:#212121 ;
}
  
:root[data-bs-theme="dark"] {
  --bs-body-bg:#212121;
  --bs-body-color: #fff;
  --bs-content-bg:#262626 ;
  --bs-link-color: #a8a8a8;
  --bs-active-link-bg:#303030 ;
  --bs-active-link-color:#FFFFFF ;
}

header {
  padding: 1rem 0;
}

.theme-toggler-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler {
  font-size: 2rem;
  border: none;
  background: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  align-items: center;
}

.nav-links.show {
  display: flex;
}

.nav-item {
  margin: 1rem 0;
}

.nav-link {
  font-size: 1.25rem;
  text-decoration: none;
}

/* Ensure the nav-links are hidden on larger screens */
@media (min-width: 769px) {
  .collapsed-nav {
    display: none;
  }

  .navbar-nav {
    display: flex;
    gap: 1rem;
    flex-direction: row; /* Ensure nav links are in a row */
  }
}

/* Styles for small screens */
@media (max-width: 768px) {
  .collapsed-nav {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
  }

  .collapsed-nav.show {
    display: flex;
  }
}


.content{
    border: 0 !important;
    background-color: var(--bs-content-bg) !important;
    border-radius: 0 !important;
}
.content:hover, .content:focus{
    border: var(--bs-card-border-width) solid var(--bs-card-border-color) !important;
}

.fa-github{
  color: var(--bs-body-color);

}